<h3> This is a server component . </h3>
<p>The Server ID is {{serverID}}  and the status of the server is {{serverStatus}} </p>
<div> The next server is {{nextServer()}}</div>
<button class="btn btn-primary" [disabled]="!allownewserver" (click)=onservercreate()>Add Server</button>
<p>{{allownewserver}}</p>
<p>{{servercreate}}</p>
<input type="text" class="form-control" (input)=updateServerName($event)>
<p>{{servername}}</p>

<input type="text" class="form-control" [(ngModel)]="servername">
